[Desktop Entry]
Version=1.0
Name=Black Lotus
Comment=Black Hat Hacker Toolkit
Exec=sudo -k -u root /dir/to/blacklotus.py
Icon=/dir/to/image/file
Terminal=true
Type=Application
Categories=Utility;Application;
Path=
StartupNotify=false
